@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;600;800&display=swap");

body {
  background-color: #f2f2f2;
  color: #000;
  font-family: "Poppins", sans-serif;
}
.content {
  max-width: 80vw;
  margin: 0 auto;
}
nev {
  position: sticky;
  top:0;
  z-index: 1000;
  margin: 10px auto 80px;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

nev a {
  margin: auto 20px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
nev a:hover {
  color: blue;
}
nev .logo {
  color: red;
  margin-right: auto;
  font-family: "Lobster", cursive;
}
footer {
  display: block;
  margin-top: 60px;
  padding: 30px 0;
  text-align: center;
  border-top: 1px solid #eaeaea;
}
.not_found {
  text-align: center;
}
button {
  color: #f2f2f2;
  background-color: brown;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  text-align: center;
  align-items: center;
}